<!DOCTYPE html>
<html lang="en">

<body>
		<div class="container">
		<form method="POST" action="/newRidePOST">
			<div class="form-group col-md-6">
				<label for="rideId">Ride Id</label>
				<input type="text" class="form-control" id="rideId" name="rideId" placeholder="RideId" required>
        	</div>
			<div class="form-group col-md-6">
				<label for="customerId">Customer Id</label>
				<input type="text" class="form-control" id="customerId" name="customerId" placeholder="CustomerId" required>
        	</div>
            <div class="form-group col-md-6">
            	<label for="driverId">Driver Id</label>
            	<input type="text" class="form-control" id="driverId" name="driverId" placeholder="DriverId" required>
        	</div>
        	<div class="form-group">
				<label for="fromLoction">From</label>
				<input type="text" class="form-control" id="fromLocation" name="fromLocation" placeholder="From" required>
			</div>
			<div class="form-group ">
				<label for="toLocation">To</label>
				<input type="text" class="form-control" id="toLocation" name="toLocation" placeholder="To" required>
        	</div>
        	<button class="btn btn-primary" type="submit">Add</button>
		</form>

		</div>
</body>
</html>
